@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700&display=swap');

.container {
    font-family: 'Ubuntu', sans-serif;
    max-width: 1600px;
    margin: 0;
}

.section-padding {
    padding: 0 15%;
}

@import './components/variables';
@import './components/mixins';

@import './fontawesome/fontawesome';
@import './fontawesome/solid';
@import './fontawesome/brands';
@import './fontawesome/regular';

@import './components/navbar';
@import './components/hero';
@import './components/about';
@import './components/services';
@import './components/projects';
@import './components/team';
@import './components/clients';
@import './components/brands';
@import './components/price';