<section class="premium section-padding">
    <div class="section-header">
        <header>premium</header>
        <h5>even more features available</h5>
    </div>
    <div class="premium-content">
        <div class="premium-image">
            <img src="src/images/premium.jpg">
        </div>
        <div class="premium-text">
            <div class="first-feat feat">
                <div class="feat-head" id="featHead">
                    <span class="icon fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-1x"></i>
                        <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2>First feature</h2>
                </div>
                <div class="feature-text" id="featureText">
                    <p>Phasellus hendrerit nibh dolor, sit amet condimentum lorem consectetur sed. 
                    Morbi tempus, elit eu interdum tristique, ante eros bibendum leo, eget euismod quam dui sit amet nisi.</p>
                    <p>- FEATURE ONE</p>
                    <p>- FEATURE TWO</p>
                    <p>- FEATURE THREE</p>
                </div>
            </div>
            <div class="second-feat feat">
                <div class="feat-head" id="featHead">
                    <span class="icon fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-1x"></i>
                        <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2>Second feature</h2>
                </div>
                <p class="feature-text" id="featureText">Phasellus hendrerit nibh dolor, sit amet condimentum lorem consectetur sed.</p>
            </div>
            <div class="third-feat feat">
                <div class="feat-head" id="featHead">
                    <span class="icon fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-1x"></i>
                        <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2>Third feature</h2>
                </div>
                <p class="feature-text" id="featureText">Morbi tempus, elit eu interdum tristique, ante eros bibendum leo, eget euismod quam dui sit amet nisi.</p>
            </div>
        </div>
    </div>
    <div class="dots">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    <button>get in touch</button>
</section>