<section class="facts section-padding">
    <div class="section-header">
        <header>some facts</header>
        <h5>about our work</h5>
    </div>
    <div class="facts-container">
        <div class="fact">
            <h1>1000</h1>
            <h3>design projects released</h3>
            <p>Duis lobortis, mi sed imperdiet congue, nunc lectus congue tortor.</p>
        </div>
        <div class="fact">
            <h1>900</h1>
            <h3>photos</h3>
            <p>Duis lobortis, mi sed imperdiet congue, nunc lectus congue tortor.</p>
        </div>
        <div class="fact">
            <h1>500</h1>
            <h3>marketing ideas</h3>
            <p>Duis lobortis, mi sed imperdiet congue, nunc lectus congue tortor.</p>
        </div>
        <div class="fact">
            <h1>100</h1>
            <h3>exhibitions</h3>
            <p>Duis lobortis, mi sed imperdiet congue, nunc lectus congue tortor.</p>
        </div>
    </div>
</section>
