<section class="tellabout">

    <div class="tell-header">
        <i class="fas fa-share-alt"></i>
        <header>tell about us:</header>
    </div>

    <div class="social-icon">
        <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x icon-background-twitter"></i>
            <i class="fab fa-twitter fa-stack-1x"></i>
        </span>
        <p>152</p>
    </div>
    <div class="social-icon">
        <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x icon-background-link"></i>
            <i class="fab fa-linkedin-in fa-stack-1x"></i>
        </span>
        <p>31</p>
    </div>
    <div class="social-icon">
        <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x icon-background-fb"></i>
            <i class="fab fa-facebook-f fa-stack-1x"></i>
        </span>
        <p>165</p>
    </div>
    <div class="social-icon">
        <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
            <i class="fab fa-google-plus-g fa-stack-1x"></i>
        </span>
        <p>22</p>
    </div>
    <div class="social-icon">
        <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x icon-background-pin"></i>
            <i class="fab fa-pinterest-p fa-stack-1x"></i>
        </span>
        <p>165</p>
    </div>
</section>