<section class="contact section-padding">

    <div class="section-header">
        <header>contact us</header>
        <h5>our agency located in melbourne, australia</h5>
    </div>

    <div class="contact-form">
        <form>
            <div class="form-row">
                <input type="text" name="name" class="form-name" placeholder="NAME">
                <input type="email" name="email" class="form-mail" placeholder="EMAIL">
            </div>
            <input type="text" name="subject" class="form-subject" placeholder="SUBJECT">
            <input type="text" name="msg" class="form-msg" placeholder="MESSAGE">
            <button type="submit">send message</button>
        </form>
    </div>

</section>
