<section class="g-map">
    <img src="./src/images/googlemap.png">
    <div class="adress-box">
        <div class="row">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                <i class="far fa-envelope fa-stack-1x"></i>
            </span>
            <p>PO Box 16122 Collins Street West Victoria 8007 Australia</p>
        </div>
        <div class="row">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                <i class="fas fa-map-marker-alt fa-stack-1x"></i>
            </span>
            <p>121 King Street, Melbourne Victoria 3000 Australia</p>
        </div>
        <div class="row">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                <i class="fas fa-phone-alt fa-stack-1x"></i>
            </span>
            <p>+00 0 1234 5678</p>
        </div>
        <div class="row">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                <i class="fas fa-at fa-stack-1x"></i>
            </span>   
            <p>bukindesign@gmail.com</p>
        </div>
        <div class="row">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                <i class="fas fa-globe fa-stack-1x"></i>
            </span>
            <p>www.envato.com</p>
        </div>
    </div>
    <div class="pin-icon">
        <i class="fas fa-map-marker-alt"></i>
    </div>
</section>

