<footer class="section-padding">
    <div class="footer-container">
        <span class="fa-stack fa-2x arrow-up">
            <i class="fa fa-circle circle-arrow fa-stack-2x icon-background-g"></i>
            <i class="fas fa-chevron-up fa-stack-1x"></i>
        </span>
        <div class="socialmedia-footer">
            <div class="social-media">
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                    <i class="fab fa-twitter fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                    <i class="fab fa-instagram fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                    <i class="fab fa-youtube fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                    <i class="fab fa-google-plus-g fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x icon-background-g"></i>
                    <i class="fas fa-ellipsis-h fa-stack-1x"></i>
                </span>
            </div>
            <div class="license">
                AWAX © 2016
            </div>
        </div>
        <div class="footer-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac quam tempus velit cursus faucibus eu in nisl. Aenean iaculis sapien erat,
            a consectetur eros laoreet at. Donec feugiat ligula pulvinar ex aliquet pharetra. Praesent sed lacus est. Suspendisse eget bibendum risus. 
            Nam vitae leo in lacus porttitor porta sed in felis. Sed vitae risus a ligula condimentum scelerisque. Maecenas vestibulum eros eu felis ullamcorper, 
            vitae vestibulum erat consectetur.</p>
        </div>
        <div class="subscribe">
            <form>
                <input type="email" name="email" placeholder="EMAIL TO SUBSCRIBE">
                <button>subscribe</button>
            </form>
        </div>
    </div>
</footer>