<section class="about section-padding">
    <div class="section-header">
        <header>about us</header>
        <h5>who we are</h5>
    </div>
    <div class="about-columns">
        <div class="about-left-bar">
            <p>Cras sit amet lorem eu sem tincidunt finibus vel non dui. Maecenas eu nisl interdum magna malesuada convallis. 
            Donec luctus nisl diam, id porttitor dui venenatis vitae. Nunc iaculis, elit in tincidunt efficitur, augue quam laoreet purus, 
            posuere ultrices libero diam vitae tortor. Cras convallis nisi felis, sed ultrices ligula commodo eu. Vivamus sagittis, diam ac bibendum semper, 
            neque ipsum vestibulum tellus, eget suscipit libero ex at ex. Duis cursus, felis vitae venenatis efficitur, justo quam suscipit nibh, sit amet
            fermentum nibh orci et erat. Curabitur massa lacus, sollicitudin in pharetra non, molestie non eros. Etiam porta gravida lacus a sagittis. 
            </p>
            <button>learn more</button>
        </div>
        <div class="about-right-bar">
            <img src="src/images/about-baner.jpg">
            <div class="watch-video">
                <h2>watch</h2>
                <i class="far fa-play-circle"></i>
                <h2>video!</h2>
            </div>
        </div>
    </div>
</section>