<section class="services section-padding">
    <div class="section-header">
        <header>services</header>
        <h5>services that we provide</h5>
    </div>
    <div class="list-of-services">
        <div class="service">
            <i class="fas fa-medal"></i>
            <h2>high quality design</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales.</p>
        </div>
        <div class="service">
            <i class="far fa-star"></i>
            <h2>modern design</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales.</p>
        </div>
        <div class="service">
            <i class="far fa-clock"></i>
            <h2>regular updates</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="service">
            <i class="far fa-comment-dots"></i>
            <h2>fast and free support</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales.</p>
        </div>
    </div>
</section>