<section class="projects section-padding">
    <div class="section-header">
        <header>our projects</header>
        <h5>what we create</h5>
    </div>
    <div class="gallery-categories">
        <ul>
            <div class="select-category" id="selectGallery">
                <a>Select category</a>
                <i class="fas fa-caret-down"></i>
            </div>
 
            <ul class="gallery-list" id="listGallery">
                <li>all</li>
                <li>photos</li>
                <li>branding</li>
                <li>adverts</li>
                <li>development</li>
                <li>misc</li>
            </ul>
        </ul>
    </div>
    <div class="gallery-tabs">
        <div class="tab">all</div>
        <div class="tab">photos</div>
        <div class="tab">branding</div>
        <div class="tab">adverts</div>
        <div class="tab">development</div>
        <div class="tab">misc</div>
    </div>
    <div class="projects-gallery">
        <div class="row">
            <div class="gallery-img">
                <div class="gallery-text">
                    <h5>About</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <img src="src/images/gallery/gallery_001.jpg">
            </div>
            <div class="gallery-img">
                <div class="gallery-text">
                    <h5>About</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <img src="src/images/gallery/gallery_002.jpg">
            </div>
            <div class="gallery-img">
                <div class="gallery-text">
                    <h5>About</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <img src="src/images/gallery/gallery_003.jpg">
            </div>
            <div class="gallery-img">
                <div class="gallery-text">
                    <h5>About</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <img src="src/images/gallery/gallery_004.jpg">
            </div>
        </div>
        <div class="row">
            <div class="gallery-img">
                <div class="gallery-text">
                    <h5>About</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <img src="src/images/gallery/gallery_005.jpg">
            </div>
            <div class="gallery-img">
                <div class="gallery-text">
                    <h5>About</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <img src="src/images/gallery/gallery_006.jpg">
            </div>
            <div class="gallery-img">
                <div class="gallery-text">
                    <h5>About</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <img src="src/images/gallery/gallery_007.jpg">
            </div>
            <div class="gallery-img">
                <div class="gallery-text">
                    <h5>About</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <img src="src/images/gallery/gallery_008.jpg">
            </div>
        </div>
        <div class="row">
            <div class="gallery-img">
            <div class="gallery-text">
                <h5>About</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div><img
             src="src/images/gallery/gallery_009.jpg">
            </div>
            <div class="gallery-img">
            <div class="gallery-text">
                <h5>About</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div><img
             src="src/images/gallery/gallery_010.jpg">
            </div>
            <div class="gallery-img">
            <div class="gallery-text">
                <h5>About</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div><img
             src="src/images/gallery/gallery_011.jpg">
            </div>
            <div class="gallery-img">
            <div class="gallery-text">
                <h5>About</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div><img
             src="src/images/gallery/gallery_012.jpg">
            </div>
        </div>
    </div>
    <button>more projects</button>
</section>