<section class="team section-padding">
    <div class="section-header">
        <header>our team</header>
        <h5>our co-workers</h5>
    </div>
    <div class="workers-list">
        <div class="worker">
            <img src="src/images/team/worker_001.jpg">
            <div class="worker-text">
                <h3>jane doe</h3>
                <h5>master mind</h5>
            </div>
            <div class="social-media">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
        <div class="worker">
            <img src="src/images/team/worker_002.jpg">
            <div class="worker-text">
                <h3>mike shiller</h3>
                <h5>creative head</h5>
            </div>
            <div class="social-media">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
        <div class="worker">
            <img src="src/images/team/worker_003.jpg">
            <div class="worker-text">
                <h3>anna johns</h3>
                <h5>technical lead</h5>
            </div>
            <div class="social-media">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="dots">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</section>