<section class="clients section-padding">
    <div class="section-header">
        <header>happy clients</header>
        <h5>client reviews</h5>
    </div>
    <div class="client-review">
        <img src="src/images/client_001.jpg">
        <h3>John Doe</h3>
        <h5>Head of PR Department</h5>
        <h1>"</h1>
        <p>Maecenas vel sapien orci. Praesent tincidunt eros vel metus porttitor gravida. Maecenas nec elit eget ligula semper mattis vel ut augue.
            Donec nec malesuada urna. Proin sollicitudin augue eu consequat consequat. Vestibulum lectus neque, porta sed dolor a, gravida posuere enim.
            Ut sagittis, lorem a varius semper, dui tortor semper quam, non mollis nulla nulla sed ante.</p>
    </div>
    <div class="dots">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</section>