<section class="price section-padding">
    <div class="section-header">
        <header>price</header>
        <h5>pricing table</h5>
    </div>
    <div class="price-container">
        <div class="price-box">
            <h3>express</h3>
            <h1>$9.99</h1>
            <h6>/month</h6>

            <div class="btn-details" id="btnDetails">
                <i class="fas fa-caret-down"></i>
                <p>Show details</p>
            </div>

            <div class="price-details" id="priceDetails">
                <p>Tracking issues</p>
                <p>Add bugs through email</p>
                <p>Notifications</p>
                <p>Time tracking</p>
                <p>Custom views</p>
            </div>
            <button>choose</button>
        </div>
        <div class="price-box">
            <h3>standart</h3>
            <h1>$14.99</h1>
            <h6>/month</h6>

            <div class="btn-details" id="details">
                <i class="fas fa-caret-down"></i>
                <p>Show details</p>
            </div>

            <div class="price-details">
                <p>Tracking issues</p>
                <p>Add bugs through email</p>
                <p>Notifications</p>
                <p>Time tracking</p>
                <p>Custom views</p>
            </div>
            <button>choose</button>
        </div>
        <div class="price-box">
            <h3>luxe</h3>
            <h1>$19.99</h1>
            <h6>/month</h6>

            <div class="btn-details" id="details">
                <i class="fas fa-caret-down"></i>
                <p>Show details</p>
            </div>

            <div class="price-details">
                <p>Tracking issues</p>
                <p>Add bugs through email</p>
                <p>Notifications</p>
                <p>Time tracking</p>
                <p>Custom views</p>
            </div>
            <button>choose</button>
        </div>
        <div class="price-box">
            <h3>premium</h3>
            <h1>$24.99</h1>
            <h6>/month</h6>

            <div class="btn-details" id="details">
                <i class="fas fa-caret-down"></i>
                <p>Show details</p>
            </div>

            <div class="price-details">
                <p>Tracking issues</p>
                <p>Add bugs through email</p>
                <p>Notifications</p>
                <p>Time tracking</p>
                <p>Custom views</p>
            </div>
            <button>choose</button>
        </div>
    </div>
</section>
