.contact {
    background-color: $medium-background;

    .section-header {
        margin: 0;
        padding: 45px 0;
    }

    .contact-form {
        width: 60%;
        margin: auto;

        form {
            @include flex(column, center, center);

            input {
                background-color: $medium-background;
                border: none;
                border-bottom: 2px solid $font-and-icons;
                padding: 10px;
            }

            .form-row {
                width: 100%;
                margin-bottom: 40px;
                @include flex(row, space-between, center);

                .form-name, .form-mail {
                    width: 40%;
                }

            }

            .form-subject, .form-msg {
                width: 98%;
                margin-bottom: 80px;
            }

            .form-msg {
                margin-bottom: 40px;
            }

            button {
                @include button($font-brightcolor, $theme-color, $font-darkcolor);
                margin-bottom: 70px;
            }
        }
    }
}

@media (max-width: 767px) {

    .contact {

        .contact-form {

            form {

                .form-row {
                    @include flex(column, center, center);

                    .form-name, .form-mail {
                        width: 50vw;
                        margin: 0;
                    }
                }

                .form-subject, .form-msg {
                    width: 50vw;
                }
            }
        }
    }
}