.facts {
    @include flex(column, center, center);
    background: $dark-background;
    padding-bottom: 5%;

    .section-header {
        @include section-header($font-brightcolor, $font-and-icons);
    }
    
    .facts-container {
        @include flex(row, space-between, center);
        text-align: center;

        .fact {
            @include flex(column, center, center);

            h1 {
                @include font-style(40px, 700, $theme-color, uppercase);
                margin: 0;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: translate(100%,100%);
                    height: 2px;
                    width: 35%;
                    border-bottom: 3px solid #AEAEAE;
                }
            }

            h3 {
                @include font-style(16px, 700, $font-brightcolor, uppercase);
            }

            p {
                @include text($font-and-icons);
            }
        
        }
    }
}

@media (max-width: 767px) {

    .facts {

        .facts-container {
            flex-direction: column;
        }
    }
}