@mixin square-size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($direct, $just, $align) {
    display: flex;
    flex-direction: $direct;
    justify-content: $just;
    align-items: $align;
}

@mixin font-style($size, $weight, $color, $transform) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    text-transform: $transform;
}

@mixin text($text-color) {
    font-size: 14px;
    color: $text-color;
    line-height: 1.8;
}

%onhover {
    transition: 0.3s ease-in;
}

@mixin button($font-color, $backgr-color, $hover-font-color) {
    @include font-style(12px, 700, $font-color, uppercase);
    background-color: $backgr-color;
    border-radius: 20px;
    border: none;
    padding: 20px 80px;
    cursor: pointer;

    &:hover {
        @extend %onhover;
        background-color: rgba($backgr-color, 0.6);
        color: rgba($hover-font-color, 0.5);
    }
}

@mixin section-header($header-color, $subheader-color) {
    @include flex(column, center, center);
    margin: 45px 0;

    header {
        @include font-style(30px, 700, $header-color, uppercase);
    }

    h5 {
        @include font-style(15px, 700, $subheader-color, uppercase);
        margin: 10px 0;
    }
}

@mixin dots($dot-color) {
    @include flex(row, center, center);
    position: absolute;
    top: 85%;
    transform: translate(0, 100%);
    z-index: 1;

    .dot {
        @include square-size(14px, 14px);
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid $dot-color;
        margin: 6px;
        cursor: pointer;

        &:hover {
            background-color: $dot-color;
            @extend %onhover;
        }
    }

    .active {
        background-color: $dot-color;
    }
}