@mixin square-size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($direct, $just, $align) {
    display: flex;
    flex-direction: $direct;
    justify-content: $just;
    align-items: $align;
}