.nav {   
    background-color: $dark-background;
    height: 100px;

    .burger {
        transform: scale(2);

        i {
            color: $theme-color;
        }
    }

    .menu-list {
        list-style-type: none;

        li {
            @include font-style(12px, 700, $font-brightcolor, uppercase);
            cursor: pointer;
            margin-right: 10px;
            height: 100%;
            @include flex(row, center, center);
            border-bottom: 10px solid transparent;
            padding: 20px 0;

            &:hover {
                @extend %onhover;
                border-bottom: 10px solid $theme-color;
            }
        }

        .active {
            border-bottom: 10px solid $theme-color;
        }
    }
}

@media (max-width: 767.98px) {

    nav {
        @include flex(row, space-between, center);
        position: relative;

        .menu-list {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate(0%,100%);

            li {
                font-size: 10px;
            }
        }

        .show {
            visibility: visible;
            opacity: 1;
            transition: 0.5s ease-in;
            @include flex(column, flex-start, flex-start);
            z-index: 2;
            background-color: $dark-background;
            width: 100vw;
            height: 100vh;
        }
    
        .burger {
            order: -1;
            display: block;
            margin-left: 20px;
            cursor: pointer;
        }
    }
}

@media (min-width: 767px) {

    nav {
        @include flex(row, space-around, center);

        .menu-list {
            @include flex(row, center, center);
        }
    
        .burger {
            display: none;
        }
    }
}
