nav {   
    background-color: $dark-background;
    @include flex(row, space-around, center);
    height: 100px;

    .menu-list {
        @include flex(row, center, center);
        list-style-type: none;
        height: 100%;

        li {
            @include font-style(12px, 700, $font-brightcolor, uppercase);
            cursor: pointer;
            margin-right: 10px;
            height: 100%;
            @include flex(row, center, center);
            border-bottom: 10px solid transparent;

            &:hover {
                @extend %onhover;
                border-bottom: 10px solid $theme-color;
            }
        }

        .active {
            border-bottom: 10px solid $theme-color;
        }
    }
}
