.services {
    background-color: $dark-background;
    @include flex(column, center, center);
    padding-bottom: 50px;

    .section-header {
        @include section-header($font-brightcolor, $font-and-icons);
    }

    .list-of-services {
        @include flex(row, center, center);

        .service {
            border-left: 1px solid $font-and-icons;
            @include flex(column, center, center);

            &:nth-child(4) {
                border-right: 1px solid $font-and-icons;
            }
            
            .fas::before, .far::before {
                color: $theme-color;
                font-size: 65px;
            }

            h2, p {
                text-align: center;
            }

            h2 {
                @include font-style(18px, 700, $font-brightcolor, uppercase);
            }

            p {
                @include text($font-and-icons);
            }
        }
    }
}

@media (max-width: 767px) {

    .services {

        .list-of-services {
            @include flex(column, center, center);

            .service:nth-child(4) {
                border: none;
            }

            .service {
                border: none;
                position: relative;
                padding-bottom: 20px;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    @include square-size(90vw, 100%);
                    border-bottom: 1px solid $font-and-icons;
                }
            }
        }
    }

}