$theme-color: #B98B59;

$font-and-icons: #AEAEAE;
$font-brightcolor: #fff;
$font-darkcolor: black;
$font-mediumcolor: #373737;

$bright-background: #fff;
$medium-background: #F7F7F7;
$dark-background: black;
$background-in-background: #373737;